__pycache__/
.vscode/
data/*
!data/PLACEHOLDER
models/*
!models/PLACEHOLDER
models_mask/*
!models_mask/PLACEHOLDER
test_results/*
log_results/*
new_data/kuan-yu/blender/*
new_data/kuan-yu/output/*
new_data/kuan-yu/dataset/*
new_data/kuan-yu/subset/*
new_data/kuan-yu/reducedData/*
new_data/reduced-size-ky/*
new_data/small-data-ky/*