__pycache__/
.vscode/
data/*
!data/PLACEHOLDER
models/*
!models/PLACEHOLDER
models_mask/*
!models_mask/PLACEHOLDER
test_results/*
log_results/*
new_data/kuan-yu/blender/*
new_data/kuan-yu/output/image_99.npy
new_data/kuan-yu/output/image_98.npy
new_data/kuan-yu/output/image_97.npy
new_data/kuan-yu/output/image_96.npy
new_data/kuan-yu/output/image_95.npy
new_data/kuan-yu/output/image_94.npy
new_data/kuan-yu/output/image_93.npy
new_data/kuan-yu/output/image_92.npy
new_data/kuan-yu/output/image_91.npy
new_data/kuan-yu/output/image_90.npy
new_data/kuan-yu/output/image_9.npy
new_data/kuan-yu/output/image_89.npy
new_data/kuan-yu/output/image_88.npy
new_data/kuan-yu/output/image_87.npy
new_data/kuan-yu/output/image_86.npy
new_data/kuan-yu/output/image_85.npy
new_data/kuan-yu/output/image_84.npy
new_data/kuan-yu/output/image_83.npy
new_data/kuan-yu/output/image_82.npy
new_data/kuan-yu/output/image_81.npy
new_data/kuan-yu/output/image_80.npy
new_data/kuan-yu/output/image_8.npy
new_data/kuan-yu/output/image_79.npy
new_data/kuan-yu/output/image_78.npy
new_data/kuan-yu/output/image_77.npy
new_data/kuan-yu/output/image_76.npy
new_data/kuan-yu/output/image_75.npy
new_data/kuan-yu/output/image_74.npy
new_data/kuan-yu/output/image_73.npy
new_data/kuan-yu/output/image_72.npy
new_data/kuan-yu/output/image_71.npy
new_data/kuan-yu/output/image_70.npy
new_data/kuan-yu/output/image_7.npy
new_data/kuan-yu/output/image_69.npy
new_data/kuan-yu/output/image_68.npy
new_data/kuan-yu/output/image_67.npy
new_data/kuan-yu/output/image_66.npy
new_data/kuan-yu/output/image_65.npy
new_data/kuan-yu/output/image_64.npy
new_data/kuan-yu/output/image_63.npy
new_data/kuan-yu/output/image_62.npy
new_data/kuan-yu/output/image_61.npy
new_data/kuan-yu/output/image_60.npy
new_data/kuan-yu/output/image_6.npy
new_data/kuan-yu/output/image_59.npy
new_data/kuan-yu/output/image_58.npy
new_data/kuan-yu/output/image_57.npy
new_data/kuan-yu/output/image_56.npy
new_data/kuan-yu/output/image_55.npy
new_data/kuan-yu/output/image_54.npy
new_data/kuan-yu/output/image_53.npy
new_data/kuan-yu/output/image_52.npy
new_data/kuan-yu/output/image_51.npy
new_data/kuan-yu/output/image_50.npy
new_data/kuan-yu/output/image_5.npy
new_data/kuan-yu/output/image_49.npy
new_data/kuan-yu/output/image_48.npy
new_data/kuan-yu/output/image_47.npy
new_data/kuan-yu/output/image_46.npy
new_data/kuan-yu/output/image_45.npy
new_data/kuan-yu/output/image_44.npy
new_data/kuan-yu/output/image_43.npy
new_data/kuan-yu/output/image_42.npy
new_data/kuan-yu/output/image_41.npy
new_data/kuan-yu/output/image_40.npy
new_data/kuan-yu/output/image_4.npy
new_data/kuan-yu/output/image_39.npy
new_data/kuan-yu/output/image_38.npy
new_data/kuan-yu/output/image_37.npy
new_data/kuan-yu/output/image_36.npy
new_data/kuan-yu/output/image_35.npy
new_data/kuan-yu/output/image_34.npy
new_data/kuan-yu/output/image_33.npy
new_data/kuan-yu/output/image_32.npy
new_data/kuan-yu/output/image_31.npy
new_data/kuan-yu/output/image_30.npy
new_data/kuan-yu/output/image_29.npy
new_data/kuan-yu/output/image_28.npy
new_data/kuan-yu/output/image_27.npy
new_data/kuan-yu/output/image_26.npy
new_data/kuan-yu/output/image_25.npy
new_data/kuan-yu/output/image_24.npy
new_data/kuan-yu/output/image_239.npy
new_data/kuan-yu/output/image_238.npy
new_data/kuan-yu/output/image_237.npy
new_data/kuan-yu/output/image_236.npy
new_data/kuan-yu/output/image_235.npy
new_data/kuan-yu/output/image_234.npy
new_data/kuan-yu/output/image_233.npy
new_data/kuan-yu/output/image_232.npy
new_data/kuan-yu/output/image_231.npy
new_data/kuan-yu/output/image_230.npy
new_data/kuan-yu/output/image_23.npy
new_data/kuan-yu/output/image_229.npy
new_data/kuan-yu/output/image_228.npy
new_data/kuan-yu/output/image_227.npy
new_data/kuan-yu/output/image_226.npy
new_data/kuan-yu/output/image_225.npy
new_data/kuan-yu/output/image_224.npy
new_data/kuan-yu/output/image_223.npy
new_data/kuan-yu/output/image_222.npy
new_data/kuan-yu/output/image_221.npy
new_data/kuan-yu/output/image_220.npy
new_data/kuan-yu/output/image_22.npy
new_data/kuan-yu/output/image_219.npy
new_data/kuan-yu/output/image_218.npy
new_data/kuan-yu/output/image_217.npy
new_data/kuan-yu/output/image_216.npy
new_data/kuan-yu/output/image_215.npy
new_data/kuan-yu/output/image_214.npy
new_data/kuan-yu/output/image_213.npy
new_data/kuan-yu/output/image_212.npy
new_data/kuan-yu/output/image_211.npy
new_data/kuan-yu/output/image_210.npy
new_data/kuan-yu/output/image_21.npy
new_data/kuan-yu/output/image_209.npy
new_data/kuan-yu/output/image_208.npy
new_data/kuan-yu/output/image_207.npy
new_data/kuan-yu/output/image_206.npy
new_data/kuan-yu/output/image_205.npy
new_data/kuan-yu/output/image_204.npy
new_data/kuan-yu/output/image_203.npy
new_data/kuan-yu/output/image_202.npy
new_data/kuan-yu/output/image_201.npy
new_data/kuan-yu/output/image_200.npy
new_data/kuan-yu/output/image_20.npy
new_data/kuan-yu/output/image_199.npy
new_data/kuan-yu/output/image_198.npy
new_data/kuan-yu/output/image_197.npy
new_data/kuan-yu/output/image_196.npy
new_data/kuan-yu/output/image_195.npy
new_data/kuan-yu/output/image_194.npy
new_data/kuan-yu/output/image_193.npy
new_data/kuan-yu/output/image_192.npy
new_data/kuan-yu/output/image_191.npy
new_data/kuan-yu/output/image_190.npy
new_data/kuan-yu/output/image_19.npy
new_data/kuan-yu/output/image_189.npy
new_data/kuan-yu/output/image_188.npy
new_data/kuan-yu/output/image_187.npy
new_data/kuan-yu/output/image_186.npy
new_data/kuan-yu/output/image_185.npy
new_data/kuan-yu/output/image_184.npy
new_data/kuan-yu/output/image_183.npy
new_data/kuan-yu/output/image_182.npy
new_data/kuan-yu/output/image_181.npy
new_data/kuan-yu/output/image_180.npy
new_data/kuan-yu/output/image_18.npy
new_data/kuan-yu/output/image_179.npy
new_data/kuan-yu/output/image_178.npy
new_data/kuan-yu/output/image_177.npy
new_data/kuan-yu/output/image_176.npy
new_data/kuan-yu/output/image_175.npy
new_data/kuan-yu/output/image_174.npy
new_data/kuan-yu/output/image_173.npy
new_data/kuan-yu/output/image_172.npy
new_data/kuan-yu/output/image_171.npy
new_data/kuan-yu/output/image_170.npy
new_data/kuan-yu/output/image_17.npy
new_data/kuan-yu/output/image_169.npy
new_data/kuan-yu/output/image_168.npy
new_data/kuan-yu/output/image_167.npy
new_data/kuan-yu/output/image_166.npy
new_data/kuan-yu/output/image_165.npy
new_data/kuan-yu/output/image_164.npy
new_data/kuan-yu/output/image_163.npy
new_data/kuan-yu/output/image_162.npy
new_data/kuan-yu/output/image_161.npy
new_data/kuan-yu/output/image_160.npy
new_data/kuan-yu/output/image_16.npy
new_data/kuan-yu/output/image_159.npy
new_data/kuan-yu/output/image_158.npy
new_data/kuan-yu/output/image_157.npy
new_data/kuan-yu/output/image_156.npy
new_data/kuan-yu/output/image_155.npy
new_data/kuan-yu/output/image_154.npy
new_data/kuan-yu/output/image_153.npy
new_data/kuan-yu/output/image_152.npy
new_data/kuan-yu/output/image_151.npy
new_data/kuan-yu/output/image_150.npy
new_data/kuan-yu/output/image_15.npy
new_data/kuan-yu/output/image_149.npy
new_data/kuan-yu/output/image_148.npy
new_data/kuan-yu/output/image_147.npy
new_data/kuan-yu/output/image_146.npy
new_data/kuan-yu/output/image_145.npy
new_data/kuan-yu/output/image_144.npy
new_data/kuan-yu/output/image_143.npy
new_data/kuan-yu/output/image_142.npy
new_data/kuan-yu/output/image_141.npy
new_data/kuan-yu/output/image_140.npy
new_data/kuan-yu/output/image_14.npy
new_data/kuan-yu/output/image_139.npy
new_data/kuan-yu/output/image_138.npy
new_data/kuan-yu/output/image_137.npy
new_data/kuan-yu/output/image_136.npy
new_data/kuan-yu/output/image_135.npy
new_data/kuan-yu/output/image_134.npy
new_data/kuan-yu/output/image_133.npy
new_data/kuan-yu/output/image_132.npy
new_data/kuan-yu/output/image_131.npy
new_data/kuan-yu/output/image_130.npy
new_data/kuan-yu/output/image_13.npy
new_data/kuan-yu/output/image_129.npy
new_data/kuan-yu/output/image_128.npy
new_data/kuan-yu/output/image_127.npy
new_data/kuan-yu/output/image_126.npy
new_data/kuan-yu/output/image_125.npy
new_data/kuan-yu/output/image_124.npy
new_data/kuan-yu/output/image_123.npy
new_data/kuan-yu/output/image_122.npy
new_data/kuan-yu/output/image_121.npy
new_data/kuan-yu/output/image_120.npy
new_data/kuan-yu/output/image_12.npy
new_data/kuan-yu/output/image_119.npy
new_data/kuan-yu/output/image_118.npy
new_data/kuan-yu/output/image_117.npy
new_data/kuan-yu/output/image_116.npy
new_data/kuan-yu/output/image_115.npy
new_data/kuan-yu/output/image_114.npy
new_data/kuan-yu/output/image_113.npy
new_data/kuan-yu/output/image_112.npy
new_data/kuan-yu/output/image_111.npy
new_data/kuan-yu/output/image_110.npy
new_data/kuan-yu/output/image_11.npy
new_data/kuan-yu/output/image_109.npy
new_data/kuan-yu/output/image_108.npy
new_data/kuan-yu/output/image_107.npy
new_data/kuan-yu/output/image_106.npy
new_data/kuan-yu/output/image_105.npy
new_data/kuan-yu/output/image_104.npy
new_data/kuan-yu/output/image_103.npy
new_data/kuan-yu/output/image_102.npy
new_data/kuan-yu/output/image_101.npy
new_data/kuan-yu/output/image_100.npy
new_data/kuan-yu/output/image_10.npy
